{% extends 'base.html' %}

{% load crispy_forms_tags crispy_forms_filters %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'supervisors:quiz_change_list' %}">My tasks</a></li>
      <li class="breadcrumb-item"><a href="{% url 'supervisors:quiz_change' quiz.pk %}">{{ quiz.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ question.text }}</li>
    </ol>
  </nav>
  <h2 class="mb-3">{{ question.txt }}</h2>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <p>Put more stuff here!</p>
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'supervisors:quiz_change' quiz.pk %}" class="btn btn-outline-secondary" role="button">Return without saving</a>
    <a href="{% url 'supervisors:question_delete' quiz.pk question.pk %}" class="btn btn-danger float-right">Delete</a>
  </form>
{% endblock %}
