{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'supervisors:quiz_change_list' %}">My tasks</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ quiz.name }}</li>
    </ol>
  </nav>
  <h2 class="mb-3">
    {{ quiz.name }}
    <a href="{% url 'supervisors:quiz_results' quiz.pk %}" class="btn btn-primary float-right">View results</a>
  </h2>
  <div class="row mb-3">
    <div class="col-md-6 col-sm-8 col-12">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Save changes</button>
        <a href="{% url 'supervisors:quiz_change_list' %}" class="btn btn-outline-secondary" role="button">Return without saving</a>
        <a href="{% url 'supervisors:quiz_delete' quiz.pk %}" class="btn btn-danger float-right">Delete</a>
      </form>
    </div>
  </div>
    {% for ass in other_target_languages %}
      <p>{{ass.name}} - </p>
    {% endfor %}
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-8">
          <strong>Translated text</strong>
        </div>
        <div class="col-2">
          <strong>Language</strong>
        </div>
        <div class="col-2">
          <strong>Delete</strong>
        </div>
      </div>
    </div>
    <div class="list-group list-group-flush list-group-formset">
      {% for translation in questions %}
        <div class="list-group-item">
          <div class="row">
            <div class="col-8">
              <a href="{% url 'supervisors:question_change' quiz.pk translation.pk %}">{{ translation.text }}</a>
            </div>
            <div class="col-2">
              {{ translation.language }}
            </div>
            <div class="col-2">
              <a href="{% url 'supervisors:question_delete' quiz.pk translation.pk %}" class="btn btn-danger float-right">Delete</a>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="list-group-item text-center">
          <p class="text-muted font-italic mb-0">This task does not have any target languages set</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
