{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">My tasks</li>
    </ol>
  </nav>
  <h2 class="mb-3">My tasks
    <a href="{% url 'supervisors:quiz_add' %}" class="btn btn-primary float-right" role="button">Add task</a>
  </h2>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Task</th>
          <th>Source languages</th>
          <th>Target languages</th>
          <th>Translations</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
            <td class="align-middle"><a href="{% url 'supervisors:quiz_change' task.pk %}">{{ task.name }}</a></td>
            <td class="align-middle">{{ task.source_language }}</td>
            <td class="align-middle">{% for lang in task.translations.all %}{{ lang.language.get_html_badge }}{% endfor %}</td>
            <td class="align-middle">{{ task.translations_count }}</td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't created any task yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
