{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h2 class="mb-3">Please verify the uploaded tasks</h2>
<form action="" method="POST">
{% csrf_token %}

{% for the_task in tasks %}
    <h3>{{the_task.num}}. {{the_task.task.name}}</h3>
    {{ the_task.form|crispy }}
    <p>As much as possible has been autofilled. If any fields are missing, please try to fill them out from the raw data
        that was received, as shown below. If the information provided is insufficient, the task may be canceled.</p>
    <pre>{{ the_task.raw_data }}</pre>
    <hr><br>
{% endfor %}


<button type="submit" class="btn btn-success">Save and add tasks</button>
</form>
{% endblock %}
