{% extends 'base.html' %}

{% block content %}
  <h2 class="mb-3">All tasks
      <a href="{% url 'supervisors:languages_edit' %}" class="btn btn-primary" role="button">Manage languges</a>
      <a href="{% url 'supervisors:user_list' %}" class="btn btn-primary" role="button">Manage users</a>
      <a href="{% url 'supervisors:csv_export' %}" class="btn btn-primary" role="button">Export tasks</a>
      <a href="{% url 'supervisors:task_add' %}" class="btn btn-primary float-right" role="button">Add task</a>
  </h2>
    <br>
<h4 class="mb-3">Ongoing</h4>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Task name</th>
          <th>Source languages</th>
          <th>Target languages</th>
          <th>Created by</th>
          <th>Points</th>
          <th>Priority</th>
          <th>Percentage completed</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        {% if task.get_status < 100 and task.approved == False %}
          <tr>
            <td class="align-middle"><a href="{% url 'supervisors:task_details' task.pk %}">{{ task.name }}</a></td>
            <td class="align-middle">{{ task.source_language.get_html_badge }}</td>
            <td class="align-middle">{% for lang in task.translations.all %}{{ lang.language.get_html_badge }}{% endfor %}</td>
            <td class="align-middle"><strong>{{ task.owner }}</strong></td>
            <td class="align-middle">{{ task.point_score }}
            <td class="align-middle">{{ task.get_priority_display }}</td>
            <td class="align-middle">{{ task.get_status }}%
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ task.get_status }}%;" aria-valuenow="{{ task.get_status }}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </td>
          </tr>
        {% endif %}
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't created any task yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

<br>
<h4 class="mb-3">Completed</h4>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Task name</th>
          <th>Source languages</th>
          <th>Target languages</th>
          <th>Created by</th>
          <th>Points</th>
          <th>Priority</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        {% if task.get_status == 100 %}
          <tr>
            <td class="align-middle"><a href="{% url 'supervisors:task_details' task.pk %}">{{ task.name }}</a></td>
            <td class="align-middle">{{ task.source_language.get_html_badge }}</td>
            <td class="align-middle">{% for lang in task.translations.all %}{{ lang.language.get_html_badge }}{% endfor %}</td>
            <td class="align-middle"><strong>{{ task.owner }}</strong></td>
            <td class="align-middle">{{ task.point_score }}
            <td class="align-middle">{{ task.get_priority_display }}</td>
            <td class="align-middle">
                {% if task.approved == False %}
                    <p><strong>Awaiting approval</strong></p>
                {% elif task.approved == True %}
                    <p>Approved</p>
                {% endif %}
            </td>
          </tr>
        {% endif %}
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't created any task yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
