{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'supervisors:task_change_list' %}">My tasks</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ task.name }}</li>
    </ol>
  </nav>
  <h2 class="mb-3">
    {{ task.name }}
  </h2>
  <div class="row mb-3">
    <div class="col-md-6 col-sm-8 col-12">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Save changes</button>
        <a href="{% url 'supervisors:task_change_list' %}" class="btn btn-outline-secondary" role="button">Return without saving</a>
        <a href="{% url 'supervisors:task_delete' task.pk %}" class="btn btn-danger float-right">Delete</a>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-2">
          <strong>Language</strong>
        </div>
        <div class="col-3">
          <strong>Translated text</strong>
        </div>
        <div class="col-2">
          <strong>Translated</strong>
        </div>
        <div class="col-2">
          <strong>Validated</strong>
        </div>
        <div class="col-3">
          <strong>Operations</strong>
        </div>
      </div>
    </div>
    <div class="list-group list-group-flush list-group-formset">
      {% for translation in task.translations.all %}
        <div class="list-group-item">
          <div class="row">
            <div class="col-2">
              {{ translation.language }}
            </div>
            <div class="col-3">
              {% if translation.text %}
                "{{ translation.text }}"
              {% else %}
                Not translated yet
              {% endif %}
            </div>
          <div class="col-2">
              {% if translation.translation_time_finished %}
                Yes, by <strong>{{translation.translator}}</strong>
              {% else %}
                No
              {% endif %}
          </div>
          <div class="col-2">
              {% if translation.validation_time_finished %}
                Yes, by <strong>{{translation.validator}}</strong>
              {% else %}
                No
              {% endif %}
          </div>
            <div class="col-3">
              <a href="{% url 'supervisors:translation_delete' task.pk translation.pk %}" class="btn btn-danger">Delete</a>
              <a href="{% url 'supervisors:translation_change' task.pk translation.pk %}" class="btn btn-success">Edit</a>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="list-group-item text-center">
          <p class="text-muted font-italic mb-0">This task does not have any target languages set</p>
        </div>
      {% endfor %}
    </div>
  </div>
  <br>
  {% if other_target_languages %}
  <strong>Add more languages:</strong>
    {% for olang in other_target_languages %}
      <a href="{% url 'supervisors:translation_add' task.pk olang.pk %}" class="btn btn-primary btn-sm">{{olang.name}}</a>
    {% endfor %}
  {% endif %}
{% endblock %}
