{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'supervisors:user_list' %}">Manage users</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ user.username }}</li>
    </ol>
  </nav>
  <h2 class="mb-3">{{ user.username }} {% if user == request.user %}(current user){% endif %}  </h2>

    {% if user.is_translator %}
    Translator
    {% else %}
    Supervisor
    {% endif %}

    <p>Date joined: {{ user.date_joined|date }}</p>
    <p>Last login: {{ user.last_login }}</p>

    {% if user.is_translator %}
    <p>Points earned: {{ user.translator.points_earned }}</p>
    {% endif %}


    {% if user.is_translator and user.is_active %}
    <a href="{% url 'supervisors:user_toggle_active' user.pk %}" class="btn btn-warning" role="button">Deactivate user</a>
    <a href="{% url 'supervisors:user_delete' user.pk %}" class="btn btn-danger" role="button">Delete user</a>
    {% elif user.is_translator and not user.is_active %}
      <a href="{% url 'supervisors:user_toggle_active' user.pk %}" class="btn btn-success" role="button">Activate user</a>
    {% endif %}

  </div>
{% endblock %}
