{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h2 class="mb-3">Perform translation: {{ translation.task.name }}
      <a href="{% url 'translators:translation_cancel' translation.pk %}" class="btn btn-danger float-right" role="button">Cancel</a>
  </h2>
  <p class="lead">Source text: {{ translation.task.source_content }}</p>
  <p class="lead">Target language: {{ translation.language.name }}</p>
  {% if translation.task.instructions %}
    <p class="lead">Task instructions: {{ translation.task.instructions }}</p>
  {% endif %}
  <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" name="draft" class="btn btn-outlined-secondary">Save draft</button>
    <button type="submit" name="finish" class="btn btn-success">Save and finish</button>
  </form>
{% endblock %}
