{% extends 'base.html' %}

{% block content %}
  {% include 'translatelab/translators/_header.html' with active='taken' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Task name</th>
          <th>Source language</th>
          <th>Target language</th>
          <th>Type</th>
          <th>Points</th>
          <th>Finished at</th>
        </tr>
      </thead>
      <tbody>
        {% for translation in translations %}
          <tr>
            <td>{{ translation.task.name }}</td>
            <td>{{ translation.task.source_language.get_html_badge }}</td>
            <td>{{ translation.language.get_html_badge }}</td>
            <td>
              {% if translation.translator.user == user %}Translation
              {% elif translation.validator.user == user %}Validation
              {% else %}Unknown
              {% endif%}
            </td>
            <td>{{ translation.task.point_score }}</td>
            <td>{{ translation.translation_time_finished }}</td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">You haven't completed any task yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
