{% extends 'base.html' %}

{% block content %}
  {% include 'translatelab/translators/_header.html' with active='taken' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Task name</th>
          <th>Language</th>
          <th>Source text</th>
        </tr>
      </thead>
      <tbody>
        {% for translation in translations %}
          <tr>
            <td>{{ translation.task.name }}</td>
            <td>{{ translation.language.get_html_badge }}</td>
            <td>{{ translation.task.source_content }}</td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">You haven't completed any task yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
