{% extends 'base.html' %}

{% block content %}
  {% include 'translatelab/translators/_header.html' with active='draft' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Task name</th>
          <th>Source language</th>
          <th>Target language</th>
          <th>Type</th>
          <th>Points</th>
          <th>Started at</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for translation in translations %}
          <tr>
            <td>{{ translation.task.name }}</td>
            <td>{{ translation.task.source_language.get_html_badge }}</td>
            <td>{{ translation.language.get_html_badge }}</td>
            <td>
              {% if translation.translator.user == user %}Translation
              {% elif translation.validator.user == user %}Validation
              {% else %}Unknown
              {% endif%}
            </td>
            <td>{{ translation.task.point_score }}</td>
            <td>
              {% if translation.translator.user == user %}{{ translation.translation_time_started }}
              {% elif translation.validator.user == user %}{{ translation.validation_time_started }}
              {% else %}Unknown
              {% endif%}
            </td>
            <td>
              <a href="{% url 'translators:translation_details' translation.pk %}" class="btn btn-secondary" role="button">Details</a>
              {% if translation.translator.user == user %}
                <a href="{% url 'translators:translate_task' translation.pk %}" class="btn btn-primary">Continue task</a>
              {% elif translation.validator.user == user %}
                <a href="{% url 'translators:validate_task' translation.pk %}" class="btn btn-primary">Continue task</a>
              {% endif %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">You haven't completed any task yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
