{% extends 'base.html' %}

{% block content %}
  {% include 'translatelab/translators/_header.html' with active='new' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Task</th>
          <th>Languages</th>
          <th>Length</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
            <td class="align-middle">{{ task.name }}</td>
            <td class="align-middle">{% for lang in task.target_languages.all %}{{ lang.get_html_badge }}{% endfor %}</td>
            <td class="align-middle">{{ task.questions_count }} questions</td>
            <td class="text-right">
              <a href="{% url 'translators:take_quiz' task.pk %}" class="btn btn-primary">Start task</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No quiz matching your languages right now.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
