{% extends 'base.html' %}

{% block content %}
  {% include 'translatelab/translators/_header.html' with active='new' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Task</th>
          <th>Languages</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for translation in translations %}
          <tr>
            <td class="align-middle">{{ translation.quiz.name }}</td>
            <td class="align-middle">{{ translation.language.get_html_badge }}</td>
            <td class="text-right">
              <a href="{% url 'translators:translate_task' translation.pk %}" class="btn btn-primary">Start task</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No quiz matching your languages right now.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
