{% extends 'base.html' %}

{% block content %}
  {% include 'translatelab/translators/_header.html' with active='taken' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Task</th>
          <th>Subject</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for taken_task in taken_tasks %}
          <tr>
            <td>{{ taken_task.quiz.name }}</td>
            <td>{{ taken_task.quiz.subject.get_html_badge }}</td>
            <td>{{ taken_task.score }}</td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">You haven't completed any quiz yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
