{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'translators:task_list' %}">Taskboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Translation details: {{ translation.task.name }}</li>
    </ol>
  </nav>
  <h2 class="mb-3">Translation details: {{ translation.task.name }}
    <span class="float-right">
      {% if not translation.translator %}
        <a href="{% url 'translators:translate_task' translation.pk %}" class="btn btn-primary">Start task</a>
      {% elif not translation.validator %}
        <a href="{% url 'translators:validate_task' translation.pk %}" class="btn btn-primary">Start task</a>
      {% endif %}
    </span>
  </h2>

  <p class="lead">{{ current_state }}</p><hr>

  <p>From {{ translation.task.source_language.get_html_badge }} to {{ translation.language.get_html_badge }} </p>

  <p><strong>Task type:</strong>
    {% if not translation.translator %}
    Translation
    {% elif translation.translation_time_finished %}
    Validation
    {% endif %}
  </p>


  <p><strong>Task priority:</strong> {{ translation.task.get_priority_display }}</p>
  <p><strong>Point score:</strong> {{ translation.task.point_score }}</p>

  <h4>Original text:</h4>
  <p>{{ translation.task.source_content }}</p>

  {% if translation.translator %}
  <h4>Translated text:</h4>
  <p>{{ translation.text }}</p>
  {% endif %}

  {% if translation.validator %}
  <h4>Validated text:</h4>
  <p>{{ translation.validated_text }}</p>
  {% endif %}

{% endblock %}
