{% extends 'base.html' %}

{% load crispy_forms_tags humanize %}

{% block content %}
  <h2 class="mb-3">Your user profile: {{ request.user.username }}</h2>

    {% if request.user.is_translator %}
    Translator
    {% else %}
    Supervisor
    {% endif %}

<p>Date joined: {{ request.user.date_joined|date }}</p>
<p>Last login: {{ request.user.last_login }}</p>

    {% if request.user.is_translator %}
    <p>Points earned: {{ request.user.translator.points_earned }}</p>

    <p>
      Languages:{% for language in user.translator.languages.all %} {{ language.get_html_badge }}{% endfor %}
      <a href="{% url 'translators:translator_languages' %}"><small>(update languages)</small></a>
    </p>

    {% endif %}

<p>Email address: {{ request.user.email }}
    <a href="{% url 'user_change_email'  %}" class="btn btn-outline-secondary" role="button">Change</a>
</p>

    <a href="{% url 'user_change_password'  %}" class="btn btn-outline-secondary" role="button">Change password</a>

  </div>
{% endblock %}
